$pi: 3.141592653589793;

:root {
  --spin-speed: 1;
  --spin-index: 0;
  --num-options: 1;
}

.container {
  --radius: calc(1em * var(--num-options) / (2 * #{$pi}));

  position: relative;
  clip-path: polygon(0 -1em, 100vw -1em, 100vw 1em, 0 1em);
}

.optionsList {
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  animation: spinning-ring calc(1s * var(--num-options) / var(--spin-speed)) linear infinite;
}

.option {
  position: absolute;
  white-space: nowrap;
  backface-visibility: hidden;
  transform: rotateX(calc(360deg * (var(--spin-index) / var(--num-options))))
    translateY(calc(var(--radius) * -1)) rotateX(90deg);
}

@keyframes spinning-ring {
  0% {
    transform: rotateX(0) translateY(-0.5em);
  }
  100% {
    transform: rotateX(-360deg) translateY(-0.5em);
  }
}
