$pi: 3.141592653589793;

:root {
  --spin-speed: 10;
  --spin-index: 0;
  --num-options: 1;
}

.container {
  position: relative;
  height: 3em;
  mask-image: linear-gradient(to top, transparent, black 40% 60%, transparent);
}

.optionsList {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
}

.option {
  position: absolute;
  line-height: 1em;
  white-space: nowrap;
  backface-visibility: hidden;
  transform: rotateX(calc(360deg * (var(--spin-index) / var(--num-options))))
    translateZ(calc(1em * var(--num-options) / (2 * #{$pi})));
}

.placeholderList {
  display: grid;
  grid-template-columns: 1fr;
}

.placeholder {
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
  pointer-events: none;
}
