$pi: 3.141592653589793;

:root {
  --spin-duration: 2;
  --spin-index: 0;
  --num-options: 1;
}

.container {
  position: relative;
  transform-style: preserve-3d;
  animation: spinning-ring calc(1s * var(--spin-duration)) linear infinite;
}

.option {
  position: absolute;
  white-space: nowrap;
  backface-visibility: hidden;
  transform-origin: left;
  transform: rotate(calc(360deg * (var(--spin-index) / var(--num-options))))
    translateX(calc(-1em * var(--num-options) / (2 * #{$pi}))) rotateY(90deg);
}

@keyframes spinning-ring {
  0% {
    transform: rotateY(-90deg) rotate(0);
  }
  100% {
    transform: rotateY(-90deg) rotate(-360deg);
  }
}
