$pi: 3.141592653589793;

:root {
  --spin-speed: 1;
  --spin-index: 0;
  --num-options: 1;
}

.container {
  position: relative;
  transform-style: preserve-3d;
  animation: spinning-ring calc(1s * var(--num-options) / var(--spin-speed)) linear infinite;
}

.option {
  position: absolute;
  white-space: nowrap;
  backface-visibility: hidden;
  transform-origin: left;
  transform: rotateX(calc(360deg * (var(--spin-index) / var(--num-options))))
    translateY(calc(-1em * var(--num-options) / (2 * #{$pi}))) rotateX(90deg);
}

@keyframes spinning-ring {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}
