.page {
  height: 100vh;
  display: grid;
  grid-template-areas:
    ".    header ."
    "main main   main";
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 5rem 1fr;
  color: white;
  background-color: #282c34;
}

@media only screen and (max-width: 900px) {
  .page {
    grid-template-columns: 1rem 1fr 1rem;
  }
}

/** Header styles **/

.header {
  grid-area: header;
  font-size: clamp(1rem, 5vw, 1.5rem);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 1em;

  a {
    color: inherit;
  }
}

/** Main content styles **/

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: clamp(1rem, 5vw, 3rem);
  gap: 1ch;
}
