:root {
  --header-height: 4rem;
}

$link-colour: rgb(17, 141, 223);
$background-colour: rgb(27, 29, 30);
$text-colour: white;

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: $text-colour;
  background-color: $background-colour;
}

.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  padding: 0 10rem;
  background: $background-colour;
  font-size: clamp(1rem, 3vw, 1.3rem);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  a {
    color: inherit;
    text-decoration: none;
  }

  .title {
    font-weight: lighter;
  }

  .socials > a {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0 1rem;
  }
}

.main {
  display: grid;
  grid-template-areas:
    "landing"
    "aboutMe"
    "forest ";
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - var(--header-height)) 50vh 100vh;

  .headline {
    grid-area: landing;
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: clamp(1.7rem, 6vw, 3rem);
    padding: 0.5em;
    background: $background-colour;
    z-index: 99;

    & > span {
      margin-right: 1ch;
    }

    .spinnerOption {
      cursor: pointer;
    }
  }

  .aboutMe {
    grid-area: aboutMe;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60ch;
    opacity: 0;
    transition: opacity 1s;

    a {
      color: $link-colour;
      text-decoration: none;
    }

    &__visible {
      @extend .aboutMe;
      opacity: 1;
    }
  }

  .forest {
    grid-area: forest;
  }
}
